@media screen and (min-width: 300px) and (max-width: 480px) {
.animal-container {
    column-count: 3;
    column-gap: 10%;
}

@media screen and (max-width: 1000px) and (min-width: 700px){
    body { background-color:black;
        color:white;
    }
}


.animal.profile {
    break-inside: avoid;
}

img {
    width: 450px;
    height: 350px;
    vertical-align: center;
}

h1 {
    text-align: center;
}
}